/* Reinicia el modelo de caja para todos los elementos */
*{
    box-sizing: border-box;

}

/* Estilo general del cuerpo de la página */
body{
    margin: 0;
    padding: 0;
    background-color: #fc8ed0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/*Aqui va es estilo psra el encabezado (header)*/
.title{
    margin: 10px;
    padding: 10px;
    padding-bottom: 10px;
    text-align: start;
    border: 2px solid #fffa;
    background-color: #ef7ee2;
    transition: background-color 0.3s ease;
}
/* Efecto hover del encabezado */
.title:hover{
    background-color: #c051b3;
}
/* para el elnace que lleva a la otra pagina*/
.mascota{
    color: #000c;
    list-style: none;
}
/* Cambia de color al pasar el mouse */
.mascota:hover{
    color: #ccc;
}

/* Sección "Sobre mí" */
.sobre_mi{
  
    margin: auto;
    margin-bottom: 20px;
    width: 70%;
    text-align: justify;
}

/* Estilo general de los párrafos */
p{
    color: #000c;
}
/* Sección de proyectos */
.proyect{
    margin: auto;
    padding-top: 10px;
    width: 70%;
    text-align: justify;
}


/*Es donde va el estilo de contacto*/
.contact {
    background-color: #e460f0; 
    padding: 5px;
    text-align: center;
    color: #000c;
    border: 2px solid #a14096;
}


/* Título de la sección contacto */
.contact h2 {
    margin-bottom: 20px;
}
/* Contenedor del formulario */
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* Campos del formulario */
.contact input {
    width: 250px;
    padding: 5px;
    border: 2px solid #7838a2; 
    border-radius: 10px;
    background-color: #FFF7F1; 
}

/* Estilo al seleccionar un input */
.contact input:focus {
    outline: none;
    border-color: #FFB5C2; 
}

/* Botón del formulario */
.contact button {
    background-color: #FFB5C2; 
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
/* Hover del botón */
.contact button:hover {
    background-color: #c051b3; 
}



/* estolo de mascotas*/

/* Encabezado grande */
.titulo{
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: #ec93e2;
    border: 2px solid #751e76;
    margin: 20px;
    transition: background-color 0.3s ease;
}
/* Efecto hover */
.titulo:hover{
    transform: scale(1.03);
    transition: 0.3s ease;
    background-color: rgba(236, 165, 242, 0.9);
}
.titulo h1{
    text-align: center;
}

/* Botón estilo */
.button{
    background-color: #ee70f5;
    margin: 1px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #751e76;   
    transition: background-color 0.3s ease;
}
.button:hover{
    background-color: #a543a7;
}
/* Enlaces generales */
a{
    color: #000c;
}
a:hover{
    color: #ccc;
}

/* Galería de imágenes */
.contenedor-imagenes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 8rem;
    padding: 1rem;
    
}

/* Cada tarjeta de mascota */
.item{
    width: 100%;
    height: 350px;
    overflow: hidden;
    border: 2px solid #751e76;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Hover de cada tarjeta */
.item:hover{
    transform: scale(1.03);
    transition: 0.3s ease;
    box-shadow: 0 5px 10px rgba(16, 9, 17, 0.2);
    background-color: rgb(209, 137, 209);

}
/* Imágenes dentro de cada tarjeta */
.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
/* Parrafos del texto de las tarjetas */
p{
    text-align: justify;
}

  
